{% extends 'layouts.html' %}
{% load static %}

{% block title %}
<title>Ecommerce-Cart</title>
{% include 'userpage/header.html' %}
{% endblock %}


{% block main-content %}

<!-- start of cart section -->
<div class="container">
    {% for msg in messages %}

            {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success">
                {{msg}}
            </div>
            {% endif %}

            {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger">
                {{msg}}
            </div>
            {% endif %}

            {% endfor %}
    <div class="row d-flex justify-content-center">
        <table class="table table-bordered table-striped my-5">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Product Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                <tr>
                    <td>{{item.product.product_name}}</td>
                    <td>{{item.product.product_price}}</td>
                    <td><img src="/{{item.product.product_image}}" alt="" width="100"></td>
                    <td><a href="/order/{{item.product.id}}/{{item.id}}" class="btn btn-warning">Order Now</a>
                    <a href="/deletecartitem/{{item.id}}" class="btn btn-Danger" onclick=" return confirm('are you sure you eant to delete this?')"><i class="fa-solid fa-trash"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- end of  cart section -->


<!-- <img src="{% static 'images/a.jpg' %}" alt="" width="400"> -->
{% include 'userpage/footer.html' %}
{% endblock %}